.Fields {
	// &__field {
	// 	text-align: left;
	// 	height: 200px;
	// 	border: 1px solid black;
	// }
	&__textareaWrapper {
		textarea {
			height: 200px;
			width: 500px;
		}
	}
	&__response {
		text-align: left;
		border: 1px solid black;
		height: 200px;
	}
}