.history {
	position: relative;
	padding-right: 50px;
	&__container {
		overflow: hidden;
		padding-left: 15px;
		padding-top: 10px;
	}
	&__items {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		white-space: nowrap;
	}
	&__item {
		display: block;
		padding: 5px 10px;
		margin-right: 10px;
		flex: 0 0 auto;
		background: #FFFFFF;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
	}
	&__status {
		display: inline-block;
		margin-right: 5px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #30B800;
		border: 1px solid rgba(0, 0, 0, 0.2);
		&_theme_error {
			background: red;
		}
	}
	&__title {
		letter-spacing: 0.7px;
		margin-right: 8px;
	}
	&__button {
		position: absolute;
		top: 0;
		right: 0;
	}
	&__item-button {
		display: inline-block;
		width: 7px;
		min-height: 20px;
		margin-right: 2px;
	}
}